*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin: 30px;
}
.nav1 input{
    width: 1051px;
    height: 81px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D3D3D3;
    border: none;
}
.nav1 input::placeholder{
    color: rgba(50, 49, 49, 0.30);
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.navinput{
    display: flex;
    align-items: center;
    margin-left: 300px;
}
.navicons{
    margin-left: 850px;
}
.navicons ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#lupa{
    width: 50px;
    font-size: 30pt;
}
#user{ 
    font-size: 30pt;
}
#carrinho{
    font-size: 30pt;
}
a{
    text-decoration: none;
    color: black;
    padding: 30px;
}
.header2{
    background: #0038FF;
    color: #FFF;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2 ul{
    display: flex;
    list-style: none;

}
.header2 li{
    margin: 150px;
}
.avisos{
    background: #DCC132;
    height: 71px;
    color: #F00;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 375px 375px 375px 375px 375px 375px;
    gap: 90px;
    margin-left: 60px;
    margin-top: 90px;
}
.bikes{
    border-radius: 10px;
    border: 1px solid #B2ADAD;
    background: #FFF;
    width: 355px;
    height: 684px;
    flex-shrink: 0;
    font-family: Arial;
}
.bikes h2{
    color: #000;
    font-size: 20pt;
    margin: 20px 0px 0px 5px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.bikes p{
    margin: 5px;
    font-weight: 800;
    font-size: 16pt;
}
.bikes s{
    color: #A0A0A0;
    padding-left: 10px;
}
.bikes strong{
    color: #52FF00;
    font-family: Arial;
    font-size: 24pt;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 10px;
}
.bikes i{
    font-size: 20pt;
    margin-right: 2px;
}
#comprar{
    width: 200px;
    height: 50px;
    background-color: #52FF00;
    border: none;
    border-radius: 5px;
    margin-left: 60px;
    cursor: pointer;
}
